<h2>Add Dish!</h2>
<a href="/">Home</a>

@using ChefsDishes.Models;
@model Dish
<form asp-action="NewDish" asp-controller="Home" method="POST">

    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name">

    <span asp-validation-for="Calories"></span>
    <label asp-for="Calories"></label>
    <input class="form-control" asp-for="Calories">

    <span asp-validation-for="Description"></span>
    <label asp-for="Description"></label>
    <input class="form-control" asp-for="Description">

    <span asp-validation-for="Tastiness"></span>
    <label asp-for="Tastiness"></label>
    <input min="1" max="5" class="form-control" asp-for="Tastiness">

    <span asp-validation-for="CreatorID"></span>
    <label asp-for="CreatorID"></label>
    <select class="form-control" asp-for="CreatorID">
        <option></option>
        @{
            foreach(var chef in @ViewBag.ChefList)
            {
                <option value="@chef.ID">@chef.FirstName @chef.LastName</option>
            }
        }
    </select>

    <input class="btn btn-primary" type="submit" value="Add Dish!">
</form>